@import "./style.scss";

.header {
    border-bottom: 2px dashed #888;
    margin: 0 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    > h1 {
        width: 20%;
        min-width: 290px;
    }
    > .link-area {
        width: 80%;
        display: flex;
        justify-content: space-between;
        > div a { margin: 0 8px; }
        > div p { display: inline-block; }
        > .main-link {
            width: 70%;
        }
        > .main-link a {
            font-weight: bold;
            font-size: 16px;
        }
        > .sub-link { 
            display: none;
        }
        > .sub-link a { font-size: 14px; }
        @include mediaQuery(larger) {
            > .main-link {
                width: 44%;
            }
            > .sub-link {
                width: 22%;
                display: block;
            }
        }
    }
}