@import "./style.scss";

main.account-manage {
    max-width: 900px;
    margin: 1em auto;
}

h2 {
    font-size: 20px;
}

/* --------------------

    フォーム部分   

-------------------- */
.form-area {
    border: 2px solid $border-color;
    text-align: center;
    border-radius: 16px;
    padding: 2em 8px;

    dl > div {
        @include horizontalAlignFlex;
        text-align: left;
        font-size: 18px;
        margin: 8px;
        padding: 8px;
        border-bottom: 1px solid $border-color;
        > dt {
            width: 16%;
            text-align: right;
        }
        > dd {
            width: 82%;
        }
        > dd > .caption {
            font-size: 13px;
        }
        > dd > input {
            width: 100%;
            font-size: 16px;
            
        }
    }
    button.submit {
        width: 180px;
        padding: 8px;
        border-radius: 8px;
    }
}