@import "./style.scss";

// タイトル部分 ジェネレーターのスタイル
#generator.preset-register .modal-cover {
    width: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 90;
    position: absolute;
    top: 0;
    bottom: 0;
}

#generator.preset-register .db-form-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1000px;
    width: 70%;
    height: 72vh;
    overflow-y: auto;
    background: white;
    z-index: 99;
    box-sizing: border-box;
    > .generator-title-area {
        > * {
            display: inline-block;
            margin-left: 8px;
        }
    }
    > .saver-title-area {
        display: none;
    }
}

// タイトル部分 セーバーのスタイル
#saver .modal-cover, #saver .close-modal, #saver .generator-title-area {
    display: none;
}

#saver.preset-register {
    position: sticky;
    top: 1em;
    left: 0;
    width: 32.4%;
    height: 96vh;
    transform: none;
    background: unset;
}

#saver .saver-title-area {
    @include horizontalAlignFlex;
    border-bottom: 2px dashed $border-color;
    margin: 0 0 8px;
    > p {
        font-size: 18px;
        font-weight: bold;
    }
    > div > label {
        margin-right: 8px;
    }
    > div > button {
        margin: 0 0 8px 8px;
        padding: 4px 1em;
    }
}

// フォーム内容 共通
#generator .db-form, #saver .db-form {
    > button {
        display: block;
        width: 180px;
        padding: 8px;
        margin: 0 auto;
        font-size: 16px;
        border-radius: 8px;
        font-weight: bold;
    }
    input[type=radio], input[type=checkbox], label {
        width: auto;
    }
    .resolution > dd > input[type=number] {
        width: 100px;
        display: inline-block;
    }
    label {
        margin-right: 8px;
    }

    .image-preview img {
        width: 100%;
        display: block;
        object-fit: cover;
    }
}

// ジェネレーター フォーム内容
#generator .db-form {
    margin: 8px;
    display: block;
    text-align: center;
    > div, >.senior-settings > div {
        @include horizontalAlignFlex;
        margin: 8px;
        padding: 8px;
        font-size: 18px;
        border-bottom: 1px solid #888;
        dt {
            width: 18%;
            text-align: right;
        }
        dd {
            width: 80%;
            text-align: left;
            margin: 0;
        }
    }
    input, select, textarea {
        padding: 4px 8px;
        width: 97%;
        font-size: 16px;
    }
    > div.image > dd > * {
        @include horizontalAlign;
        width: auto;
    }
    textarea {
        height: 80px;
    }
}

// セーバー フォーム内容
#saver .db-form {
    br {
        display: none;
    }
    > div, > .senior-settings > div {
        margin: 8px 0;
        padding: 0 0 8px;
        border-bottom: 1px solid $border-color;
        display: block;
        width: 100%;
    }
    dt, dd {
        display: block;
        margin: 0;
    }
    dt {
        font-weight: bold;
    }
    input[type=text], input[type=number], input[type=file], select, textarea {
        display: block;
        width: 99%;
        font-size: 16px;
        padding: 1px 0;
    }
}