@import "./style.scss";

/*--------------------

    セーバートップ共通

--------------------*/
.preset-info {
    @include horizontalAlignFlex(flex-start);
    flex-wrap: wrap;
}

.preset-info.not-login {
    display: block;
    > a {
        font-size: 18px;
        font-weight: bold;
        margin: 8px;
    }
}

/*--------------------

    検索フォーム

--------------------*/
.search-area {
    width: 100%;
    > .title {
        @include horizontalAlignFlex;
        > .display-form > * {
            @include horizontalAlign;
        }
        > .display-form > button {
            margin-left: 1em;
            padding: 0 8px;
            font-weight: bold;
            border-radius: 8px;
        }

        > button.register-preset {
            padding: 4px 24px;
            font-size: 16px;
        }
    } 
}

.search-box {
    border: 2px dashed $border-color;
    padding: 0 8px 1em;
    margin: 0 auto 1em;
    text-align: center;
    > dl > div {
        margin: 4px;
        padding: 12px 2px;
        border-bottom: 1px solid $border-color;
        text-align: left;
        > dt, > dd {
            @include horizontalAlign;
        }
        > dt {
            font-weight: bold;
            width: 96px;
            text-align: right;
        }
        > dd {
            margin-left: 16px;
        }
        > dd input[type=text] {
            margin-left: 8px;
            padding: 4px 8px;
            width: 540px;
            font-size: 16px;
        }
    }
    > dl > .btn-common.green {
        display: block;
        width: 180px;
        margin: 8px auto;
        padding: 8px;
        font-size: 16px;
        border-radius: 8px;
    }
}

/*--------------------

    プリセット一覧

--------------------*/
.preset-list {
    width: 66%;
}
.preset-content {
    @include horizontalAlignFlex(flex-start);
    border-right: 1px solid $border-color;
    padding-right: 1em;
    flex-wrap: wrap;

    > div {
        box-sizing: border-box;
        cursor: pointer;
        width: 30%;
        height: 206px;
        border: 2px solid $border-color;
        margin: 1em 0;
        padding: 8px 0;
        box-shadow: 2px 2px 4px #aaa;

        @include mediaQuery(larger) {
            width: 23%;
        }

        > * {
            margin: 0 auto;
            max-width: 92%;
        }
        > img {
            height: 135px;
            object-fit: cover;
            border-bottom: 1px solid $border-color;
            display: block;
        }
        > p {
            overflow-y: auto;
            height: 52px;
        }

        &.register {
            background-color: #fafafa;
            border: 2px dashed $border-color;
            position: relative;
        }
        &.register > span {
            color: #444;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 18px;
            font-weight: bold;
            &::before {
                content: "＋";
                display: block;
                text-align: center;
            }
        }

        &.selected {
            border: 2px solid lightgreen;
        }
    }

    &::after, &::before {
        content: "";
        width: 30%;
        display: block;
        height: 0;
        @include mediaQuery(larger) {
            width: 23%;
        }
    }
    &::before {
        order: 1;
    }
}

/*--------------------

    プリセット情報

--------------------*/
.preset-message {
    @include horizontalAlignFlex;
    width: 100%;
    margin-bottom: 8px;
}

/*--------------------

    プリセット詳細

--------------------*/
.preset-detail {
    width: 32.4%;
    margin-left: 1em;
    position: sticky;
    top: 1em;
    height: 96vh;
    overflow-y: auto;
    > div > .title-area {
        @include horizontalAlignFlex;
        margin-bottom: 4px;
        > h2 {
            font-size: 17px;
            margin: 0;
            width: 86%;
        }
        > button, a {
            padding: 2px 0;
            width: 12%;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
        }
    }
    > div > ul li {
        padding: 0 0 8px;
        margin: 0 0 8px;
        border-bottom: 1px solid $border-color;
        display: block;
        width: 100%;
        h3 {
            @include horizontalAlign;
            font-size: 16px;
        }
        button {
            margin-left: 8px;
            padding: 0 8px;
            font-weight: bold;
        }
        &.image {
            max-height: 316px;
            overflow-y: auto;
        }
        &.image > img {
            width: 100%;
            display: block;
            object-fit: cover;
        }
        &.copy > p {
            color: #cc8c00;
            cursor: pointer;
            overflow-y: auto;
            max-height: 100px;
            display: block;
            font-size: 13px;
            &:hover {
                text-decoration: underline;
            }
        }
        &.seed > p {
            font-size: 16px;
        }
    }
    // セパレートクラス付きの場合左右2分割で表示
    > div > ul li.separate {
        display: flex;
        justify-content: space-between;
        > div {
            width: 49%;
            &:first-child {
                border-right: 1px solid $border-color;
            }
        }
    }
}