@import "./style.scss";

/*--------------------

    セーバートップ共通

--------------------*/
.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*--------------------

    検索フォーム

--------------------*/
.search-area {
    width: 100%;
    > .title {
        > * {
            display: inline-block;
            vertical-align: middle;
        }
        > button {
            margin-left: 1em;
        }
    } 
}

.search-box {
    border: 2px dashed #888;
    padding: 1em 8px;
    margin: 0 auto 1em;
    text-align: center;
}

/*--------------------

    プリセット一覧

--------------------*/
.preset-list {
    width: 68%;
}
.preset-content {
    border-right: 1px solid #888;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    > div {
        cursor: pointer;
        width: 22%;
        border: 1px solid #888;
        margin: 0 1em 2em 0;
        padding: 8px 0;
        box-shadow: 2px 2px 4px #aaa;
        &.selected {

        }
        > * {
            margin: 0 auto;
            max-width: 92%;
            @include mq(xl) {
                max-width: 216px;   
            }
        }
        > img {
            height: 135px;
            object-fit: cover;
            border-bottom: 1px solid #888;
            display: block;
        }
        > p {
            overflow-y: auto;
            height: 52px;
        }
    }
}

/*--------------------

    プリセット詳細

--------------------*/
.preset-detail {
    width: 31%;
    margin-left: 1em;
    position: sticky;
    top: 1em;
    height: 96vh;
    > .title-area {
        font-size: 17px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;
        > h2 {
            margin: 0;
            width: 86%;
        }
        > button {
            padding: 2px 0;
            width: 12%;
            font-size: 14px;
            font-weight: bold;
        }
    }
    > ul li {
        padding: 0 0 8px;
        margin: 0 0 8px;
        border-bottom: 1px solid #888;
        display: block;
        width: 100%;
        > h3, button {
            display: inline-block;
            vertical-align: middle;
            margin: 0;
        }
        > button {
            padding: 2px 0;
        }
        &.image {
            max-height: 316px;
            overflow-y: auto;
        }
        &.image > img {
            width: 100%;
            display: block;
            object-fit: cover;
        }
        &.copy > p {
            color: #cc8c00;
            cursor: pointer;
            overflow-y: auto;
            max-height: 100px;
            display: block;
            font-size: 13px;
            &:hover {
                text-decoration: underline;
            }
        }
        &.seed > p {
            font-size: 16px;
        }
    }
}