/*--------------------

    共通メディアクエリ

--------------------*/
$mq-breakpoints: (
    larger: 1560px,
    large: 1280px,
    medium: 1024px,
    tablet: 768px,
    small: 576px,
    smaller: 375px,
) !default;

@mixin mediaQuery($breakpoint: md, $rule: min, $subtraction: false) {
    $breakpoint: map_get($mq-breakpoints, $breakpoint);
    @if $rule == max and $subtraction {
        $breakpoint: $breakpoint - 0.0625;
    }

    @media screen and (#{$rule}-width: $breakpoint) {
        @content;
    }
}

/*--------------------

    共通パーツ

--------------------*/
.main {
    max-width: 1560px;
    margin: 0 auto;
    padding: 0 0 1em;
}

button, input, textarea, select {
    font-family: 'Yu Gothic Medium', '游ゴシック Medium', sans-serif;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

h1, h2, h3 {
    margin: 8px 0; font-size: 18px;
}

ul, p, dl {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

input {
    padding: 4px;
}
input[type="checkbox"], input[type='radio'] {
    transform: scale(1.1);
}

button, input[type="submit"] {
    cursor: pointer;
}

/*--------------------

    共通ボタン

--------------------*/
.btn-common {
    background-color: white;
    border-radius: 4px;
    padding: 4px 8px;
    transition: all .1s;
    cursor: pointer;
    vertical-align: middle;
    font-weight: bold;
}
.btn-common.green {
    border: 1.5px solid green;
    color: green;
    &:hover {
        background-color: green;
        color: white;
    }
}
.btn-common.red {
    border: 1.5px solid red;
    color: red;
    &:hover {
        background-color: red;
        color: white;
    }
}
.btn-common.orange {
    border: 1.5px solid hsl(30, 90%, 45%);
    color: hsl(30, 90%, 45%);
    &:hover {
        background-color: hsl(30, 90%, 45%);
        color: white;
    }
}
.btn-common.blue {
    border: 1.5px solid darkblue;
    color: darkblue;
    &:hover {
        background-color: darkblue;
        color: white;
    }
}
.btn-common.pink {
    border: 1.5px solid tomato;
    color: tomato;
    &:hover {
        background: tomato;
        color: white;
    }
}

/*--------------------

    共通ボタン(トグル)

--------------------*/
.btn-toggle {
    font-family: 'Yu Gothic Medium', '游ゴシック Medium', sans-serif;
    border: none;
    outline: none;
    width: 144px;
    font-size: 16px;
    padding: 4px;
    margin: 2px 6px 2px 0;
    background: hsl(196, 61%, 88%);
    color: hsl(196, 100%, 10%);
    box-shadow: 2px 2px hsl(196, 100%, 40%);
    transition: all 0.03s;
}
.btn-toggle.r-15 {
    background: hsl(120, 80%, 90%);
    box-shadow: 2px 2px hsl(120, 100%, 40%);
}
.btn-toggle.r-18 {
    background: hsl(20, 80%, 90%);
    box-shadow: 2px 2px hsl(9, 100%, 40%);
}
.btn-toggle.selected {
    padding: 4px 8px;
    background: hsl(196, 100%, 15%);
    color: white;
    box-shadow: inset 3px 3px 3px hsl(196, 100%, 5%);
    border: none;
    transform: translate(2px, 2px);
}
.btn-toggle.r-15.selected {
    background: hsl(120, 100%, 15%);
    box-shadow: inset 3px 3px 3px hsl(120, 100%, 5%);
}
.btn-toggle.r-18.selected {
    background: hsl(9, 100%, 15%);
    box-shadow: inset 3px 3px 3px hsl(9, 100%, 5%);
}

/*--------------------

    共通ボタン(×ボタン)

--------------------*/
.btn-close {
    outline: none;
    border: none;
    cursor: pointer;
    background: #dedede;
    border-radius: 24px;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 8px;
    right: 8px;
    transition: all .1s;
    &:hover {
        background: #ccc;
    }
    &:before, &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 3px;
        height: 30px;
        background: #666;
    }
    &:before {
        transform: translate(-50%, -50%) rotate(45deg);
    }
    &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}