@import url('../styles.css');
.masterData-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.masterData-list > div {
    width: 48%;
}

.masterData-list > div > table {
    width: 100%;
}

table tr th, table tr td {
    display: inline-block;
    overflow-y: auto;
    padding: 4px 8px;
    border: 1px solid #888;
    border-right: none;
    height: 26px;
}
table tr th {
    background-color: rgb(200, 255, 255);
}

table tr.genre {
    cursor: pointer;
}
table tr.genre td {
    background-color: rgb(200, 255, 200);
}

table tr #id {
    width: 10%;
}
table tr #jp {
    width: 30%;
}
table tr #slag {
    width: 30%;
}
table tr #detail {
    width: 12%;
}
table tr #edit {
    width: 6%;
    border-right: 1px solid #888;
}